body {
    background-color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}



.orderList {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    user-select: none;
    cursor: pointer;
}

.form-control {
    max-width: 500px;
}

.parches {
    text-decoration: line-through;
}